{{ form_start(form) }}
    <div class="row my-4">
        <div class="col-md-4">{{ form_row(form.title) }}</div>
        <div class="col-md-4">{{ form_row(form.surface) }}</div>
        <div class="col-md-4">{{ form_row(form.price) }}</div>
    </div>
    <div class="row my-4">
        <div class="col-md-3">{{ form_row(form.rooms) }}</div>
        <div class="col-md-3">{{ form_row(form.bedrooms) }}</div>
        <div class="col-md-3">{{ form_row(form.heat) }}</div>
        <div class="col-md-3">{{ form_row(form.floor) }}</div>
    </div>
    <div class="row my-4">
        <div class="col-md-2">{{ form_row(form.picturesArray) }}</div>  
        <div class="col-md-3">{{ form_row(form.address) }}</div>
        <div class="col-md-2">{{ form_row(form.city) }}</div>
        <div class="col-md-2">{{ form_row(form.postal_code) }}</div>
        <div class="col-md-1">{{ form_row(form.sold) }}</div>
    </div>
    <div class="row my-4">
        {% for picture in property.propertyPictures %}
            <div class="col-md-auto d-flex flex-column form-img-box">
                <img src="{{ picture.picture|imagine_filter('my_thumb') }}" alt="" class='mr-5' style="width: 120px">
                <a href="{{ path('admin.picture.delete', {id: picture.id}) }}" csrftoken="{{ csrf_token('delete' ~ picture.id) }}" class="delete-button btn btn-danger btn-sm mt-1">Supprimer</a>
            </div> 
        {% endfor %}
    </div>
    {{ form_rest(form) }}
    <button class="btn btn-primary mt-4" type="submit">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
