<div class="card mb-4">
    {% if property.propertypicture %}
        <img src="{{ asset(property.propertypicture.picture)|imagine_filter('my_thumb') }}" class="card-img-top"  alt="">
    {% else %}
        <img src="{{ asset('images/properties/default_property_image.jpg')|imagine_filter('my_thumb') }}" class="card-img-top" alt="">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('property.show', { id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
        </h5>
        <p class="card-text">{{ property.surface }}m² - {{ property.city }} ({{ property.postalCode }})</p>
        <div class="text-primary" style='font-weight: bold; font-size: 1.5rem;'>
            {{ property.formatedPrice }} €
        </div>
    </div>
</div>