{% extends 'base.html.twig' %}

{% block title %}Tous nos biens{% endblock %}

{% block body %}
<section class="search">
    {# CAROUSEL START #}
    <div id="carouselExampleSlidesOnly" class="carousel slide position-relative" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active overflow-y-hidden">
        <img src="{{ asset('images/static_assets/following/carousel1.jpg')|imagine_filter('form_carousel') }}" class="card-img-top" alt="..." style="height: 350px; width: 100%; object-fit: cover;">
        </div>
        <div class="carousel-item overflow-y-hidden">
        <img src="{{ asset('images/static_assets/following/carousel2.jpg')|imagine_filter('form_carousel') }}" class="card-img-top" alt="..." style="height: 350px; width: 100%; object-fit: cover;">
        </div>
        <div class="carousel-item overflow-y-hidden">
        <img src="{{ asset('images/static_assets/following/carousel3.jpg')|imagine_filter('form_carousel') }}" class="card-img-top" alt="..." style="height: 350px; width: 100%; object-fit: cover;">
        </div>
    </div>
    {# CAROUSEL END #}

    {# FORM START #}
    <div class="position-absolute top-50 start-50 translate-middle container p-4 rounded bg-white">
            <p class="text-semi-dark fw-bold">Affinez votre recherche</p>
            {{ form_start(form) }}
                <div class="row row-cols-2">
                    <div class="col">
                        {{ form_row(form.city)}}
                    </div> 
                    <div class="col">
                        {{ form_row(form.distance)}}
                    </div>
                </div>
                <div class="d-flex">
                    <div class="me-2">
                        <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                            <span class="me-2"><i class="fa-solid fa-filter"></i></span>
                            Plus de filtres
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-sm" type='submit'>
                            <span class="me-2"><i class="fa-solid fa-magnifying-glass"></i></span>
                            Rechercher
                        </button>
                    </div>
                </div>
            </div>

            {# SEARCH MODAL START  #}
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-semi-dark fw-bold" id="offcanvasExampleLabel">Tous les filtres</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body text-start">
                    <p class="text-semi-dark d-flex align-items-center fw-bold fs-6">
                        <span class="me-2"><i class="fa-solid fa-house"></i></span>
                        Type de bien
                    </p>
                    <div class="row row-cols-1 mb-3">
                        <div class="col">
                            {{ form_row(form.typeOfProperty)}}
                        </div>
                    </div>
                    <p class="text-semi-dark d-flex align-items-center fw-bold fs-6">
                        <span class="me-2"><i class="fa-solid fa-euro-sign"></i></span>
                        Prix
                    </p>
                    <div class="row row-cols-1 row-cols-md-2 mb-4">
                        <div class="col">
                            {{ form_row(form.minPrice)}}
                        </div>
                        <div class="col">
                            {{ form_row(form.maxPrice)}}
                        </div>
                    </div>
                    <p class="text-semi-dark fw-bold d-flex align-items-center  fs-6">
                        <span class="me-2"><i class="fa-solid fa-maximize"></i></span>
                        Surface
                    </p>
                    <div class="row row-cols-1 row-cols-md-2 mb-4">
                        <div class="col">
                            {{ form_row(form.minSurface)}}
                        </div>
                        <div class="col">
                            {{ form_row(form.maxSurface)}}
                        </div>
                    </div>
                    <p class="text-semi-dark d-flex align-items-center fw-bold fs-6">
                        <span class="me-2"><i class="fa-solid fa-house-circle-check"></i></span>
                        Options du bien
                    </p>
                    <div class="row row-cols-1 mb-4">
                        <div class="col">
                            {{ form_row(form.options)}}
                        </div> 
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type='submit'>
                            <span class="me-2"><i class="fa-solid fa-magnifying-glass"></i></span>
                            Rechercher
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        {# FORM END #}
    </div>
</section>

{# PROPERTIES SHOW SECTION #}
<section class="properties-show pt-5">
    <div class="container pb-3">
        <h1 class="mb-5 pb-3 border-bottom text-semi-dark">Nos biens immobiliers à vendre</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            {% if properties|length > 0 %}
                {% for property in properties %}
                    {% include "property/_property.html.twig" %}
                {% endfor %}
            {% else %}
                <div class="container d-flex justify-content-center aligne-items-center">
                    <p class="fs-3 fw-bold text-semi-dark p-5">Oups, aucun bien ne correspond à votre recherche...</p>
                </div>
            {% endif %}
            
        </div>
        {# display navigation #}
        <div class="navigation d-flex justify-content-center mt-5">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_search_autocomplete') }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEJKOOlBwYUuW5kMSnFsJZUtAbGVsJ6tc&callback=initAutocomplete&libraries=places&v=weekly"defer ></script>
{% endblock %}
