{% extends 'base.html.twig' %}

{% block title %}{{ property.title }}{% endblock %}

{% block body %}
    <main class="py-5">
        <section class="show-carousel"> 
            <div class="container">
                {# SHOW FLASHS START #}
                    {% for label, messages in app.flashes %}    
                        {% for message in messages %}
                            <div class="alert alert-{{label}}">{{ message }}</div>
                        {% endfor %}
                    {% endfor %}
                {# SHOW FLASHS END #}

                <div class="row">
                    <div class="col-md-4 text-semi-dark order-last order-md-first">
                        <h1 class="fs-2 fw-bold mb-3">Maison à vendre</h1>
                        <p class="fs-5 fw-semibold">
                            {{ property.surface }}m² 
                            <span class="mx-1"><i class="fa-solid fa-minus"></i></span>
                            
                            {{ property.rooms }} pièces</p>
                        <p class="fs-5 fw-semibold mb-3">
                            <span class="me-2"><i class="fa-solid fa-location-dot text-primary"></i></span>
                            {{ property.city }}
                        </p>
                        <p class="fs-3 fw-bold text-primary mb-3">
                            {{ property.formatedPrice }}
                            <span><i class="fa-solid fa-euro-sign"></i></span>
                        </p>
                        {# Open Contact Modal Button #}
                        <button  type="button" id='contact' class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">
                            Contacter l'agence
                        </button>
                    </div>

                    <div class="col-md-8 mb-3">
                        {% if property.propertyPictures and property.propertyPictures|length > 1 %}
                            <div id="carouselExampleIndicators" class="carousel slide">
                                <div class="carousel-indicators">
                                {% for propertypic in property.propertyPictures %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index - 1 }}" class="{{ loop.index == 1 ? "active" : "" }}" aria-current="true" aria-label="Slide {{ loop.index - 1 }}"></button>
                                {% endfor %}
                                </div>
                                <div class="carousel-inner">
                                    {% for propertypic in property.propertyPictures %}
                                        <div class="carousel-item {{ loop.index == 1 ? "active" : "" }}">
                                            <img src="{{ asset(propertypic.picture)|imagine_filter('show_carousel') }}" class="d-block w-100"  alt="">
                                        </div>    
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-custom-icon" aria-hidden="true">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-custom-icon" aria-hidden="true">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        {% elseif property.propertyPictures and property.propertyPictures|length == 1  %}
                            {% for propertypic in property.propertyPictures %}
                                <img src="{{ asset(propertypic.picture)|imagine_filter('show_carousel') }}" class="card-img-top"  alt="">
                            {% endfor %}
                        {% else %}
                            <img src="{{ asset('/images/properties/default_property_image.jpg')|imagine_filter('show_carousel') }}" class="card-img-top" alt="">
                        {% endif %}
                    </div> 
                </div>
            </div>
        </section>
        
        <section class="features">
            <div class="container mt-4 ">
                {# DESCRIPTION ROW #}
                <div class="row">
                    <div class="col mb-3">
                        <h2 class="fw-bold fs-4 mb-3">Description</h2>
                        <p class="fs-6 text-semi-dark">{{ property.description | nl2br }}</p>
                    </div>
                </div>

                {# FEATURES ROW  #}
                <div class="row mb-3">
                    <div class="col-md-8">
                        <h2 class="fw-bold fs-4 mb-4">Caractéristiques</h2>
                        <div class="row fw-semibold text-semi-dark ">
                            <div class="col-md-4 mb-3">
                                <p>
                                    <span><i class="fa-solid me-2 fa-vector-square"></i></span>
                                    {{ property.surface }} m²
                                </p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <p>
                                    <span><i class="fa-solid me-2 fa-object-ungroup"></i></span>
                                    {{ property.rooms }} pièces
                                </p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <p>
                                    <span><i class="fa-solid me-2 fa-bed"></i></span>
                                    {{ property.bedrooms }} chambres
                                </p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <p>
                                    <span><i class="fa-solid me-2 fa-stairs"></i></span>
                                    {{ property.floor }} etages
                                </p>
                            </div>  
                            <div class="col-md-4 mb-3">
                                <p> 
                                    <span><i class="fa-solid me-2 fa-house-fire"></i></span>
                                    {{ property.heatCategory }}
                                </p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <p> 
                                    <span><i class="fa-solid me-2 fa-money-bills"></i></span>
                                    {{ property.formatedPrice }}
                                    <span><i class="fa-solid fa-euro-sign"></i></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2 class="fw-bold fs-4 mb-4">Spécificités</h2>
                        <div class="fw-semibold text-semi-dark">
                            {% for option in property.options %}
                                <p>
                                    <span class="me-2"><i class="fa-solid fa-angle-right"></i></span>
                                    {{ option.name }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {# GOOGLE MAP #}
                <div class="row">
                    <h2 class="fw-bold fs-4 mb-3">Localisation</h2>
                    <div id="map" class="w-100" style='height:400px;' data-lng="{{property.lng}}" data-lat="{{property.lat}}"></div>
                </div>
                {# END GOOGLE MAP #}
        </section>

        {# CONTACT MODAL #}
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Contacter l'agence</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form)}}
                            <div class="row">
                                <div class="col">{{ form_row(form.firstname) }}</div>
                                <div class="col">{{ form_row(form.lastname) }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ form_row(form.email) }}</div>
                                <div class="col">{{ form_row(form.phone) }}</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_row(form.message) }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                {{ form_widget(form.captcha) }}
                            </div>
                    {{ form_end(form)}}
                </div>
            </div>
        </div>
        {# END OF CONTACT MODAL #}
    </main>  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('show_ property_location') }}
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEJKOOlBwYUuW5kMSnFsJZUtAbGVsJ6tc&callback=initMap&v=weekly"></script>
{% endblock %}
