{% extends 'base.html.twig' %}

{% block title %}ImageTest index{% endblock %}

{% block body %}
    <h1>ImageTest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_test in image_tests %}
            <tr>
                <td>{{ image_test.id }}</td>
                <td>{{ image_test.nom }}</td>
                <td>
                    <a href="{{ path('app_image_test_show', {'id': image_test.id}) }}">show</a>
                    <a href="{{ path('app_image_test_edit', {'id': image_test.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_test_new') }}">Create new</a>
{% endblock %}
