{% extends 'admin/base_admin.html.twig' %}

{% block title %}Admin - Gérer les types de chauffage{% endblock %}

{% block body %}
    <h1>Types de chauffages</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property_heat in property_heats %}
            <tr>
                <td>{{ property_heat.name }}</td>
                <td class="d-flex">
                    <a href="{{ path('admin.heat.edit', {'id': property_heat.id}) }}" class="btn btn-secondary me-2">Editer</a>
                    <form method='post' action="{{ path('admin.heat.delete', { id: property_heat.id }) }}" 
                    onsubmit="return confirm('Voulez vous vraiment supprimer l\'article ?')">
                        <input type="hidden" name="_method" value='DELETE'>
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property_heat.id) }}">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin.heat.new') }}" class="btn btn-primary float-end">Nouveau</a>
{% endblock %}
