{% extends 'admin/base_admin.html.twig' %}

{% block title %}Admin - Gérer les biens{% endblock %}

{% block body %}
<div class="container-fluid flex-fill d-flex">
  <div class="row flex-fill">
    <nav id="admin-navbar" class="col-md-3 col-lg-2 sidebar" >
        <div class="sidebar--nav">
            <a href="#">DFGKJDHDFGK</a>
            <a href="#">DFGKJDHDFGK</a>
            <a href="#">DFGKJDHDFGK</a>
            <a href="#">DFGKJDHDFGK</a>
        </div>
      
    </nav>

   <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-primary"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis tenetur cum quidem aspernatur amet ratione sint quisquam! Voluptatibus aspernatur, maiores, rerum repudiandae quos cumque accusantium quia ex numquam assumenda fugit. Distinctio, autem at obcaecati, exercitationem molestias vero enim repellendus beatae dicta aut alias mollitia, blanditiis nesciunt veniam illo nihil commodi!
      </p>
    </main>
  </div>
</div>

    {# test
    <div class="container mt-4 flex-fill">
        <h1>Gérer les options</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for option in options %}
                <tr>
                    <td>{{ option.name }}</td>
                    <td class="d-flex">
                        <a href="{{ path('admin.option.edit', { id: option.id }) }}" class="btn btn-secondary me-2">Editer</a>
                        <form method='post' action="{{ path('admin.option.delete', { id: option.id }) }}" 
                        onsubmit="return confirm('Voulez vous vraiment supprimer l\'article ?')">
                            <input type="hidden" name="_method" value='DELETE'>
                            <input type="hidden" name="_token" value='{{ csrf_token('delete' ~ option.id) }}'>
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-end">
            <a class='btn btn-primary' href="{{ path('admin.option.new') }}">Créer un nouveau bien</a>
        </div>
    </div> #}
{% endblock %}
