{% extends 'base.html.twig' %}

{% block title %}PropertyType index{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1>PropertyType index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for property_type in property_types %}
                <tr>
                    <td>{{ property_type.id }}</td>
                    <td>{{ property_type.name }}</td>
                    <td>
                        <a href="{{ path('app_property_type_show', {'id': property_type.id}) }}">show</a>
                        <a href="{{ path('app_property_type_edit', {'id': property_type.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_property_type_new') }}">Create new</a>
    </div>
{% endblock %}
