{% extends 'admin/base_admin.html.twig' %}

{% block title %}Admin - Gestion des types de bien{% endblock %}

{% block body %}
    <h1>Types de bien</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property_type in property_types %}
            <tr>
                <td>{{ property_type.name }}</td>
                <td class="d-flex">
                    <a href="{{ path('admin.type.edit', { id: property_type.id }) }}" class="btn btn-secondary me-2">Editer</a>
                    <form method='post' action="{{ path('admin.type.delete', { id: property_type.id }) }}" 
                    onsubmit="return confirm('Voulez vous vraiment supprimer l\'article ?')">
                        <input type="hidden" name="_method" value='DELETE'>
                        <input type="hidden" name="_token" value='{{ csrf_token('delete' ~ property_type.id) }}'>
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-end">
        <a class='btn btn-primary' href="{{ path('admin.type.new') }}">Nouveau</a>
    </div>

{% endblock %}
