  {# START ACCORDION SIDEBAR #}
<nav id="admin-navbar" class="col-md-3 col-lg-2 accordionNav bg-light border-end d-flex flex-column justify-content-between">
    <div>
        <h2 class="fs-6 p-3 border-bottom m-0">Adminitrateur</h2>
        <div class="accordionNav--item">
            <h2 class="accordionNav--item__header" id="accordion-1">
                <button class="px-3 py-3 fs-6 d-flex justify-content-between collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                    <span>
                        <i class="fa-solid me-2 fa-house text-success"></i>
                        Propriété 
                    </span>
                    <span><i class="fa-solid fa-chevron-down chevron"></i></span>
                </button>
            </h2>
            <div id="collapse-1" class="accordionNav--item__collapse collapse" aria-labelledby="accordion-1" data-bs-parent="#admin-navbar">
                <div class="collapse-box fs-6">
                    <a href="{{ path('admin.property.new') }}" class="d-block w-100 py-2 ps-4">Ajouter</a>
                </div>
                <div class="collapse-box fs-6">
                    <a href="{{ path('admin.property.index') }}" class="d-block w-100 py-2 ps-4">Gerer</a>
                </div>
            </div>
        </div>

        <div class="accordionNav--item">
            <h2 class="accordionNav--item__header" id="accordion-2">
                <button class="px-3 py-3 fs-6 d-flex justify-content-between collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                    <span>
                        <i class="fa-solid fa-filter me-2 text-primary"></i>
                        Options
                    </span>
                    <span><i class="fa-solid fa-chevron-down chevron"></i></span>
                </button>
            </h2>
            <div id="collapse-2" class="accordionNav--item__collapse collapse" aria-labelledby="accordion-2" data-bs-parent="#admin-navbar">
                <div class="collapse-box fs-6">
                    <a href="{{ path('admin.option.new') }}" class="d-block w-100 py-2 ps-4">Ajouter</a>
                </div>
                <div class="collapse-box fs-6">
                    <a href="{{ path('admin.option.index') }}" class="d-block w-100 py-2 ps-4">Gerer</a>
                </div>
            </div>
        </div>

        <div class="accordionNav--item">
            <h2 class="accordionNav--item__header" id="accordion-3">
                <button class="px-3 py-3 fs-6 d-flex justify-content-between collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                    <span>
                        <i class="fa-solid fa-fire me-2 text-danger"></i>
                        Chauffage
                    </span>
                    <span><i class="fa-solid fa-chevron-down chevron"></i></span>
                </button>
            </h2>
            <div id="collapse-3" class="accordionNav--item__collapse collapse" aria-labelledby="accordion-3" data-bs-parent="#admin-navbar">
                <div class="collapse-box fs-6">
                    <a href="{{ path('admin.heat.new') }}" class="d-block w-100 py-2 ps-4">Ajouter</a>
                </div>
                <div class="collapse-box fs-6">
                    <a href="{{ path('admin.heat.index') }}" class="d-block w-100 py-2 ps-4">Gerer</a>
                </div>
            </div>
        </div>

        <div class="accordionNav--item">
            <h2 class="accordionNav--item__header" id="accordion-4">
                <button class="px-3 py-3 fs-6 d-flex justify-content-between collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                    <span>
                    <i class="fa-solid fa-building me-2 text-secondary"></i>
                    Catégorie
                    </span>
                    <span><i class="fa-solid fa-chevron-down chevron"></i></span>
                </button>
            </h2>
            <div id="collapse-4" class="accordionNav--item__collapse collapse" aria-labelledby="accordion-4" data-bs-parent="#admin-navbar">
                <div class="collapse-box fs-6">
                    <a href="{{ path('admin.type.new') }}" class="d-block w-100 py-2 ps-4">Ajouter</a>
                </div>
                <div class="collapse-box fs-6">
                    <a href="{{ path('admin.type.index') }}" class="d-block w-100 py-2 ps-4">Gerer</a>
                </div>
            </div>
        </div>
        <div class="accordionNav--item">
            <a href='{{ path('home') }}' class="accordionNav--item__header" id="accordion-4">
                <button class="px-3 py-3 fs-6 d-flex justify-content-between collapsed" type="button" >
                    <span>
                        <i class="fa-solid fa-eye text-info me-2"></i>
                        Mode user
                    </span>
                </button>
            </a>

        </div>
    </div>
    <a href="{{ path('logout') }}" class="admin-logout-btn px-3 py-2 fs-6 text-center">
        Déconnexion
    </a>
</nav>
{# END OF ACCORDION SIDEBAR #}